@layout({ title: 'Register - Lovefi' })

  <h1>
    Register
  </h1>
  <form method="POST" action="{{ route('auth.register.store') }}" class="flex flex-col gap-4">
    {{ csrfField() }}
    @!form.input({ type: 'email', name: 'email', displayLabel: 'Email' })
    @!form.input({ type: 'password', name: 'password', displayLabel: 'Password' })
    @button({ type: 'submit' })
      Register
    @end
  </form>

@end
