@layout({ title: 'Organizations - Lovefi' })

  <h1>
    {{ t('messages.createOrganization') }}
  </h1>
  <form method="POST" action="{{ route('organizations.store') }}" class="flex flex-col gap-4">
    {{ csrfField() }}
    @!form.input({ type: 'text', name: 'name', displayLabel: t('messages.name') })

    @button({ type: "submit" })
      {{ t('messages.save') }}
    @end
    
  </form>

@end
