@layout({ title: 'Organizations - Lovefi' })

  <h1>
    {{ t('messages.organizations') }}
  </h1>
  <ul class="mb-4">
    @each(organization in organizations)
      <li>
        <a href="{{ route('organizations.show', { organizationId: organization.id }) }}" class="underline">
          {{ organization.name }}
        </li>
      @endeach
    </ul>
    @button({ href: route('organizations.create') })
      {{ t('messages.create') }}
    @end
    
  @end
