@layout({ title: 'Home' })

  <h1>
    Home
  </h1>

  @if(auth.user)
    <p>
      Welcome back, {{ auth.user.email }}
    </p>
    <form method="POST" action="{{ route('auth.logout') }}">
      {{ csrfField() }}
      <button type="submit">Logout</button>
    </form>
  @else
    <a href="{{ route('auth.register.show') }}">Register</a>
    <a href="{{ route('auth.login.show') }}">Login</a>
  @endif
    
@endlayout
