@layout({ title: 'Home - Lovefi' })

  @slot('meta')
    <meta name="description" content="Financial independence for you and your loved ones" />
  @endslot
  
  <h1>
    {{ t('messages.title') }}
  </h1>

@endlayout
